@font-face {
    font-family: 'r';
    src: url(/assets/fonts/Euclid\ Circular\ A\ Regular.ttf);
}

@font-face {
    font-family: 't';
    src: url(/assets/fonts/Euclid\ Circular\ A\ Light.ttf);
}


@font-face {
    font-family: 'b';
    src: url(/assets/fonts/Euclid\ Circular\ A\ SemiBold.ttf);
}

