<footer class="bg-[#2E3A59] px-8">
    <div class="max-w-screen-xl mx-auto flex flex-wrap py-5 gap-4">
        <div class="flex flex-col w-48 gap-5">
            <img src="/assets/media/logos/handboll-logo.png" width="92" height="118" alt="">
            <p class="text-sm">
                AHF Copyright 2022. <br>
                All Right Reserved AHF
            </p>
        </div>

        

        <div class="flex flex-wrap gap-x-28 pt-4 font-bold">
            <div class="flex flex-col gap-4">
                <a href="/layouts/ahf-history.html"><p>AHF haqqında</p></a>
                <a href="/layouts/clubs.html"><p>Klublar</p></a>
                <a href="/layouts/index.html"><p>Handball qaydaları</p></a>
                <a href="/layouts/calendar.html"><p>Oyun təqvimi</p></a>
            </div>

            <div class="flex flex-col gap-4">
                <a href="/layouts/news.html"><p>Xəbərlər</p></a>
                <a href="/layouts/galery.html"><p>Qalereya</p></a>
                <a href="/layouts/arxiv.html"><p>Arxiv</p></a>
                <a href="/layouts/contacts.html"><p>Əlaqə</p></a>
            </div>

            <div class="flex flex-col gap-6">
                <a href="#"><p>Gizlilik Siyasəti</p></a>
                <div class="flex gap-x-4">
                    <a href="/layouts/index.html">
                        <div class="w-10 h-10 grid place-content-center border-solid rounded-full border-pink-700 border-2">
                            <img src="/assets/media/icons/footer-instagram.png" alt="">
                        </div>
                    </a>
                    <a href="/layouts/index.html">
                        <div class="w-10 h-10 grid place-content-center border-solid rounded-full border-pink-700 border-2">
                            <img src="/assets/media/icons/footer-facebook.png" alt="">
                        </div>
                    </a>
                    <a href="/layouts/index.html">
                        <div class="w-10 h-10 grid place-content-center border-solid rounded-full border-pink-700 border-2">
                            <img src="/assets/media/icons/footer-youtube.png" alt="">
                        </div>
                    </a>
                </div>
            </div>

        </div>
        

    </div>
</footer>