
    <header class="relative w-full h-20 border-b border-white flex  items-center justify-center bg-[#2E3A59] xl:px-0 px-4">
        <div class="w-full xl:w-320 flex justify-between items-center h-full p-5 xl:p-0">
            <button class="xl:hidden">
                <img src="/assets/media/icons/menu.png" alt="">
            </button>
            
            <a href="#">
                <img src="/assets/media/logos/logo.png" class="w-14 xl:w-auto"  alt="">
            </a>
            
            <div class="hidden xl:flex gap-x-8 ml-10">
                <div>
                    <div>
                        <div class="flex items-center justify-center gap-x-1">
                            <span class="text-sm text-white">AHF haqqında</span> 
                            <img src="/assets/media/icons/arrowdown.png" width="14px" alt="">
                        </div>
                    </div>

                </div>
                <div>
                    <div>
                        <div class="flex items-center justify-center gap-x-1">
                            <span class="text-sm text-white">Klublar</span> 
                            <img src="/assets/media/icons/arrowdown.png" width="14px" alt="">
                        </div>
                    </div>
                </div>
                <div>
                    <div>
                        <div class="flex items-center justify-center gap-x-1">
                            <span class="text-sm text-white">Handboll qaydaları</span> 
                            <img src="/assets/media/icons/arrowdown.png" width="14px" alt="">
                        </div>
                    </div>
                </div>
                
                <a href="#" class="text-white text-sm">
                    Oyun təqvimi
                </a>

                <a href="#" class="text-white text-sm">
                    Xəbərlər
                </a>

                <div>
                    <div>
                        <div class="flex items-center justify-center gap-x-1">
                            <span class="text-white text-sm">Qalereya</span> 
                            <img src="/assets/media/icons/arrowdown.png" width="14px" alt="">
                        </div>
                    </div>
                </div>
                <div>
                    <div>
                        <div class="flex items-center justify-center gap-x-1">
                            <span class="text-white text-sm">Arxiv</span> 
                            <img src="/assets/media/icons/arrowdown.png" width="14px" alt="">
                        </div>
                    </div>
                </div>

                <a href="#" class="text-white text-sm">
                    Əlaqə
                </a>
            </div>

            <button >
                <img src="/assets/media/icons/search.png" alt="">
            </button>
        </div>
    </header>