<!DOCTYPE html>
<html lang="en">
<head>
    <base href="http://127.0.0.1:5500">
    <title>Document</title>
    <link href="/assets/styles/global.css" rel="stylesheet"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css">
<body>
    
    <header class="relative w-full h-20 border-b border-white flex  items-center justify-center bg-[#2E3A59] xl:px-0 px-4">
        <div class="w-full xl:w-320 flex justify-between items-center h-full p-5 xl:p-0">
            <button class="xl:hidden">
                <img src="/assets/media/icons/menu.png" alt="">
            </button>
            
            <a href="#">
                <img src="/assets/media/logos/logo.png" class="w-14 xl:w-auto"  alt="">
            </a>
            
            <div class="hidden xl:flex gap-x-8 ml-10">
                <div>
                    <div>
                        <div class="flex items-center justify-center gap-x-1">
                            <span class="text-sm text-white">AHF haqqında</span> 
                            <img src="/assets/media/icons/arrowdown.png" width="14px" alt="">
                        </div>
                    </div>

                </div>
                <div>
                    <div>
                        <div class="flex items-center justify-center gap-x-1">
                            <span class="text-sm text-white">Klublar</span> 
                            <img src="/assets/media/icons/arrowdown.png" width="14px" alt="">
                        </div>
                    </div>
                </div>
                <div>
                    <div>
                        <div class="flex items-center justify-center gap-x-1">
                            <span class="text-sm text-white">Handboll qaydaları</span> 
                            <img src="/assets/media/icons/arrowdown.png" width="14px" alt="">
                        </div>
                    </div>
                </div>
                
                <a href="#" class="text-white text-sm">
                    Oyun təqvimi
                </a>

                <a href="#" class="text-white text-sm">
                    Xəbərlər
                </a>

                <div>
                    <div>
                        <div class="flex items-center justify-center gap-x-1">
                            <span class="text-white text-sm">Qalereya</span> 
                            <img src="/assets/media/icons/arrowdown.png" width="14px" alt="">
                        </div>
                    </div>
                </div>
                <div>
                    <div>
                        <div class="flex items-center justify-center gap-x-1">
                            <span class="text-white text-sm">Arxiv</span> 
                            <img src="/assets/media/icons/arrowdown.png" width="14px" alt="">
                        </div>
                    </div>
                </div>

                <a href="#" class="text-white text-sm">
                    Əlaqə
                </a>
            </div>

            <button >
                <img src="/assets/media/icons/search.png" alt="">
            </button>
        </div>
    </header>

    <div class="px-4 xl:px-0 w-full xl:w-320 mx-auto flex flex-col gap-y-6 mt-14 mb-14">
        <h1 class="text-4xl font-bold text-[#343434]">Əlaqə</h1>
        <div class="flex flex-wrap gap-4 justify-between">
            <div class="w-full xl:w-168 flex flex-wrap gap-x-4 p-12 bg-[#2A2F5B]  gap-y-6">
                
                <div class="flex items-center gap-x-2  w-44">
                    <a href="#">
                        <div class="w-10 h-10 grid place-content-center border-solid rounded-full border-pink-700 border-2">
                            <img src="/assets/media/icons/footer-instagram.png" alt="">
                        </div>
                    </a>
                    <p>@handball.az</p>
                </div> 
                
                <div class="flex items-center gap-x-2  w-44">
                    <a href="#">
                        <div class="w-10 h-10 grid place-content-center border-solid rounded-full border-pink-700 border-2">
                            <img src="/assets/media/icons/footer-facebook.png" alt="">
                        </div>
                    </a>
                    <p>@handball.az</p>
                </div> 

                <div class="flex items-center gap-x-2  w-44">
                    <a href="#">
                        <div class="w-10 h-10 grid place-content-center border-solid rounded-full border-pink-700 border-2">
                            <img src="/assets/media/icons/footer-youtube.png" alt="">
                        </div>
                    </a>
                    <p>handball.az</p>
                </div> 
                <div class="flex items-center gap-x-2  w-44">
                    <a href="#">
                        <div class="w-10 h-10 grid place-content-center border-solid rounded-full border-pink-700 border-2">
                            <img src="/assets/media/icons/footer-phone.png" alt="">
                        </div>
                    </a>
                    <p>+994 12 404 14 16</p>
                </div>
                <div class="flex items-center gap-x-2  w-44">
                    <a href="#">
                        <div class="w-10 h-10 grid place-content-center border-solid rounded-full border-pink-700 border-2">
                            <img src="/assets/media/icons/footer-mail.png" alt="">
                        </div>
                    </a>
                    <p>info@handball.az</p>
                </div>  
                <div class="flex items-center gap-x-2">
                    <a href="#">
                        <div class="w-10 h-10 grid place-content-center border-solid rounded-full border-pink-700 border-2">
                            <img src="/assets/media/icons/footer-location.png" alt="">
                        </div>
                    </a>
                    <p>AZ1029, Azərbaycan Respublikası, Bakı ş., Ələsgər Qayıbov küçəsi, 10Q</p>
                </div>
            </div>

            <iframe class="w-full xl:w-140" style="border:2px solid #2A2F5B;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d101627.05808999788!2d-115.80400715000002!3d37.25137145!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80b81baaba3e8c81%3A0x970427e38e6237ae!2sArea%2051%2C%20NV%2C%20USA!5e0!3m2!1sen!2s!4v1653462675484!5m2!1sen!2s" height="264" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>

    <div class="px-4 xl:px-0 w-full xl:w-320 mx-auto flex flex-col gap-y-6 mt-6 mb-14">
        <h2 class="text-4xl font-bold text-[#343434]">Şikayət və Təkliflərinizi 7/24 bizə ünvanlaya bilərsiniz</h2>
        <form class="flex flex-wrap gap-y-4 justify-between">
            <input type="text" placeholder="Adınız" class="p-4 w-full lg:w-9/20 text-sm border-2 border-solid border-black">
            <input type="text" placeholder="Email" class="p-4  w-full lg:w-9/20 text-sm border-2 border-solid border-black">
            <textarea type="text" placeholder="Mesaj" class="p-4 w-full text-sm h-36 resize-none border-2 border-solid border-black"></textarea>
            <div class="ml-auto ">
                <button type="submit" class="mt-6 mx-auto xl:mx-0 pl-10 pr-10 pt-3 pb-3 bg-[#DE0735] w-max">
                    Əlavə məlumat
                </button>
            </div>
        </form>
    </div>

    

    <footer class="bg-[#2E3A59] px-8 " >
        <div class="max-w-screen-xl mx-auto flex flex-wrap py-5 gap-4">
            <div class="flex flex-col w-48 gap-5">
                <img src="/assets/media/logos/handboll-logo.png" width="92" height="118" alt="">
                <p class="text-sm">
                    AHF Copyright 2022. <br>
                    All Right Reserved AHF
                </p>
            </div>
    
            
    
            <div class="flex flex-wrap gap-x-28 pt-4 font-bold">
                <div class="flex flex-col gap-4">
                    <a href="#"><p>AHF haqqında</p></a>
                    <a href="#"><p>Klublar</p></a>
                    <a href="#"><p>Handball qaydaları</p></a>
                    <a href="#"><p>Oyun təqvimi</p></a>
                </div>
    
                <div class="flex flex-col gap-4">
                    <a href="#"><p>Xəbərlər</p></a>
                    <a href="#"><p>Qalereya</p></a>
                    <a href="#"><p>Arxiv</p></a>
                    <a href="#"><p>Əlaqə</p></a>
                </div>
    
                <div class="flex flex-col gap-6">
                    <a href="#"><p>Gizlilik Siyasəti</p></a>
                    <div class="flex gap-x-4">
                        <a href="#">
                            <div class="w-10 h-10 grid place-content-center border-solid rounded-full border-pink-700 border-2">
                                <img src="/assets/media/icons/footer-instagram.png" alt="">
                            </div>
                        </a>
                        <a href="#">
                            <div class="w-10 h-10 grid place-content-center border-solid rounded-full border-pink-700 border-2">
                                <img src="/assets/media/icons/footer-facebook.png" alt="">
                            </div>
                        </a>
                        <a href="#">
                            <div class="w-10 h-10 grid place-content-center border-solid rounded-full border-pink-700 border-2">
                                <img src="/assets/media/icons/footer-youtube.png" alt="">
                            </div>
                        </a>
                    </div>
                </div>
    
            </div>
            
    
        </div>
    </footer>
    
</body>
</html>