<!DOCTYPE html>
<html lang="en">
<head>
    <base href="http://127.0.0.1:5500">
    <title>Document</title>
    <link href="/assets/styles/global.css" rel="stylesheet"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" />
    <script defer src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js"></script>
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/index.min.css" /> -->
    <script defer src="/assets/js/menu.js"></script>
    <script defer src="/assets/js/search.js"></script>
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->

<body>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js"></script></head>
    
    <header class="z-50 relative w-full h-20 border-b border-white border-solid shadow-sm shadow-gray-600 flex  items-center justify-center bg-[#2F3B59] xl:px-0 px-4">
        <div class="z-30 w-full xl:w-320 flex justify-between items-center h-full p-5 xl:p-0 bg-[#2F3B59]">
            <button class="menubtn xl:hidden">
                <img src="/assets/media/icons/menu.png" alt="">
            </button>
            
            <a href="#">
                <img src="/assets/media/logos/logo.png" class="w-14 xl:w-auto"  alt="">
            </a>
            
            <div class="hidden self-end h-11 xl:flex gap-x-8 ml-10">
                <div class="relative ahf-nav">
                    <div class=" flex items-center justify-center gap-x-1 hover:text-[#E7535C] cursor-pointer">
                        <span class="text-sm ">AHF haqqında</span> 
                        <img src="/assets/media/icons/arrowdown.png" width="14px" alt="">
                    </div>
                    <div class="ahf-nav-content  hidden  absolute bg-white top-11 text-[#1A1F49] flex-col text-sm p-4 gap-4 w-28 -left-2"> 
                        <a href="#">
                            <div class="hover:text-[#E7535C] cursor-pointer">
                                <span> Link 1</span>
                            </div>
                        </a>
                        <a href="#">
                            <div class="hover:text-[#E7535C] cursor-pointer">
                                <span> Link 1</span> 
                            </div>
                        </a>
                    </div>
                </div>

                <div class="relative klublar-nav">
                    <div class="flex items-center justify-center gap-x-1  hover:text-[#E7535C] cursor-pointer">
                        <span class="text-sm ">Klublar</span> 
                        <img src="/assets/media/icons/arrowdown.png" width="14px" alt="">
                    </div>
                    <div class="klublar-nav-content hidden absolute bg-white top-11 text-[#1A1F49] flex-col text-sm px-4 pb-4 gap-4 w-28 -left-2"> 
                        <div class="kishiler-nav">
                            <div class="pt-4 flex justify-between items-center hover:text-[#E7535C] cursor-pointer">
                                <span>Kişilər</span>  <img src="/assets/media/icons/arrow-right-black.png" alt="">
                            </div>
                            <div class="kishiler-content hidden w-40 border-l border-solid border-gray-100 absolute left-28 bg-white     flex-col p-4 top-0 gap-4">
                                <a href=""><div class="hover:text-[#E7535C]">Azeryol</div></a> 
                                <a href=""><div class="hover:text-[#E7535C]">Azerqaz</div></a> 
                                <a href=""><div class="hover:text-[#E7535C]">Azerishiq</div></a> 
                            </div>
                        </div>

                        <div class="qadinlar-nav">
                            <div class="pt-4 flex justify-between items-center hover:text-[#E7535C] cursor-pointer">
                                <span>Qadınlar</span>  <img src="/assets/media/icons/arrow-right-black.png" alt="">
                            </div>
                            <div class="qadinlar-content hidden w-40 border-l border-solid border-gray-100 absolute left-28 bg-white flex-col p-4 top-0 gap-4">
                                <a href=""><div class="hover:text-[#E7535C]">Azeryol</div></a> 
                                <a href=""><div class="hover:text-[#E7535C]">Azerqaz</div></a> 
                                <a href=""><div class="hover:text-[#E7535C]">Azerishiq</div></a> 
                            </div>
                        </div>
                        
             
                    </div>
                </div>

                <div class="relative qaydalar-nav">
                    <div class="flex items-center justify-center gap-x-1  hover:text-[#E7535C] cursor-pointer">
                        <span class="text-sm ">Handboll qaydaları</span> 
                        <img src="/assets/media/icons/arrowdown.png" width="14px" alt="">
                    </div>
                    <div class="qaydalar-nav-content hidden absolute bg-white top-11 text-[#1A1F49] flex-col text-sm p-4 gap-4 w-full "> 
                        <a href="#">
                            <div class="hover:text-[#E7535C] cursor-pointer">
                                <span> Link 1</span>
                            </div>
                        </a>
                        <a href="#">
                            <div class="hover:text-[#E7535C] cursor-pointer">
                                <span> Link 1</span> 
                            </div>
                        </a>
                    </div>
                </div>
                
                <a href="#" class="text-white text-sm  hover:text-[#E7535C] ">
                    Oyun təqvimi
                </a>

                <a href="#" class="text-white text-sm  hover:text-[#E7535C] ">
                    Xəbərlər
                </a>

                <div class="relative galery-nav">
                    <div class="flex items-center justify-center gap-x-1  hover:text-[#E7535C] cursor-pointer">
                        <span class="text-sm">Qalereya</span> 
                        <img src="/assets/media/icons/arrowdown.png" width="14px" alt="">
                    </div>
                    <div class="hidden galery-nav-content  absolute bg-white top-11 text-[#1A1F49] flex-col text-sm p-4 gap-4 w-28 "> 
                        <a href="#">
                            <div class="hover:text-[#E7535C] cursor-pointer">
                                <span> Link 1</span>
                            </div>
                        </a>
                        <a href="#">
                            <div class="hover:text-[#E7535C] cursor-pointer">
                                <span> Link 1</span> 
                            </div>
                        </a>
                    </div>
                </div>

                <div  class="relative z-10 arxiv-nav">
                    <div class="flex items-center justify-center gap-x-1  hover:text-[#E7535C] cursor-pointer">
                        <span class="text-sm">Arxiv</span> 
                        <img src="/assets/media/icons/arrowdown.png" width="14px" alt="">
                    </div>
                    <div class="hidden arxiv-nav-content absolute bg-white top-11 text-[#1A1F49] flex-col text-sm p-4 gap-4 w-28 -left-2"> 
                        <a href="#">
                            <div class="hover:text-[#E7535C] cursor-pointer">
                                <span> Link 1</span>
                            </div>
                        </a>
                        <a href="#">
                            <div class="hover:text-[#E7535C] cursor-pointer">
                                <span> Link 1</span> 
                            </div>
                        </a>
                    </div>
                </div>

                <a href="#" class="text-white text-sm  hover:text-[#E7535C] ">
                    Əlaqə
                </a>
            </div>

            <div class="relative h-6">
                <button class="searchbtn ">
                    <img src="/assets/media/icons/search.png" alt="">
                </button>
                <form class=" hidden searchform search-input  -right-4  mt-1  absolute bg-white top-12 text-[#1A1F49]  text-sm "> 
                    <input type="text" class="w-64 p-4 " placeholder="Axtarış">
                    <button class="bg-[#E7535C] w-10 flex justify-center items-center">
                        <img src="/assets/media/icons/search.png" alt="">
                    </button>
                </form>
            </div>
            
        </div>

        <div class="w-full z-20 menu absolute -top-1 -translate-y-full xl:hidden  flex flex-col p-6 gap-4 bg-[#2F3A58]">
            <div class="flex flex-col gap-2">
                <button class="flex items-center gap-2 text-left " type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    <span>AHF Haqqında </span> <img src="/assets/media/icons/arrow-right.png" alt="">
                </button>
                <div class="ml-2 collapse" id="collapseExample">
                    <a href="#">
                        <div class="block ">
                            - Haqqında
                        </div>
                    </a>
                    
                </div>
            </div>
    
            <div class="flex flex-col gap-2">
                <button class="flex items-center gap-2 text-left " type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">
                    <span>Klublar </span> <img src="/assets/media/icons/arrow-right.png" alt="">
                </button>
                <div class="collapse" id="collapseExample2">
                    <div class="ml-2 flex flex-col gap-1">
                        <div class="flex flex-col gap-2">
                            <button class="flex items-center gap-2 text-left " type="button" data-bs-toggle="collapse" data-bs-target="#collapseExampleKishiler" aria-expanded="false" aria-controls="collapseExample">
                                <span>Kişilər </span> <img src="/assets/media/icons/arrow-right.png" alt="">
                            </button>
                            <div class="ml-2 collapse" id="collapseExampleKishiler">
                                <a href="#">
                                    <div class="block ">
                                        - Klub 1
                                    </div>
                                </a>
                                
                                <a href="#">
                                    <div class="block ">
                                        - Klub 2
                                    </div>
                                </a>
                            </div>
                        </div>
    
                        <div class=" flex flex-col gap-2">
                            <button class="flex items-center gap-2 text-left " type="button" data-bs-toggle="collapse" data-bs-target="#collapseExampleQadinlar" aria-expanded="false" aria-controls="collapseExample">
                                <span>Qadınlar </span> <img src="/assets/media/icons/arrow-right.png" alt="">
                            </button>
                            <div class="ml-2  collapse" id="collapseExampleQadinlar">
                                <a href="#">
                                    <div class="block ">
                                        - Klub 1
                                    </div>
                                </a>
                                
                                <a href="#">
                                    <div class="block ">
                                        - Klub 2
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
    
    
            <div class="flex flex-col gap-2">
                <button class="flex items-center gap-2 text-left " type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample4" aria-expanded="false" aria-controls="collapseExample4">
                    <span>Handbol Qaydaları </span> <img src="/assets/media/icons/arrow-right.png" alt="">
                </button>
                <div class="ml-2 collapse" id="collapseExample4">
                    <a href="#">
                        <div class="block ">
                            - Test
                        </div>
                    </a>
                    
                </div>
            </div>
            
            <a href="">
                <div>Oyun təqvimi </div>
            </a>
    
            <a href="">
                <div>Xəbərlər </div>
            </a>
    
    
            <div class="flex flex-col gap-2">
                <button class="flex items-center gap-2 text-left " type="button" data-bs-toggle="collapse" data-bs-target="#collapseExampleQalereya" aria-expanded="false" aria-controls="collapseExampleQalereya">
                    <span>Qalereya</span> <img src="/assets/media/icons/arrow-right.png" alt="">
                </button>
                <div class="ml-2 collapse" id="collapseExampleQalereya">
                    <a href="#">
                        <div class="block ">
                            - Test
                        </div>
                    </a>
                    
                </div>
            </div>
            
            <div class="flex flex-col gap-2">
                <button class="flex items-center gap-2 text-left " type="button" data-bs-toggle="collapse" data-bs-target="#collapseExampleArxiv" aria-expanded="false" aria-controls="collapseExampleArxiv">
                    <span>Arxiv</span> <img src="/assets/media/icons/arrow-right.png" alt="">
                </button>
                <div class="ml-2 collapse" id="collapseExampleArxiv">
                    <a href="#">
                        <div class="block ">
                            - Test
                        </div>
                    </a>
                    
                </div>
            </div>
    
            <a href="">
                <div>Əlaqə </div>
            </a>
        </div>

        
        <div class="box-border searchmenu w-full z-20 menu absolute -top-1  -translate-y-full xl:hidden  flex-col p-6 gap-4 bg-[#2F3A58]">
            <form class="w-full"> 
                <input type="text" class="w-full p-4 bg-transparent border-b" placeholder="Axtarış">
                <button class="bg-[#E7535C] flex justify-center items-center mt-4 py-3 px-10">
                    Axtar
                </button>
            </form>
        </div>
    </header>

    
    
    <!-- UST MAIN BANNER -->
    <div class="xl:h-144 relative w-full xl:pt-40 text-white bg-cover pb-10 xl:pb-0" style="background-image: url(/assets/media/images/banner.png);background-repeat:no-repeat;">
        <div class="xl:w-320 mx-auto flex flex-col">
            <h1 class="md:text-5xl text-2xl xl:text-left text-center mt-6 xl:mt-0 xl:leading-tight">
                “Azəryol” komandasının  Avropa <br> kuboku yarışlarındakı rəqibi <br> müəyyənləşib
            </h1> 
            <a href="#">
                <div class="mt-6 mx-auto xl:mx-0 pl-10 pr-10 pt-3 pb-3 bg-[#DE0735] w-max">
                    Əlavə məlumat
                </div>
            </a>
        </div>
       
    </div>

    <div class="xl:px-0  box-border lg:p-0   relative flex flex-col w-full bg-[#1A1F49] px-4" >
        <div class="w-160 hidden xl:flex absolute left-1/4 right-1/4 top-0 mx-auto  bg-[#2A2F5B] m-auto "></div>

        <div class="px-4 xl:px-0 w-full relative xl:w-320 mx-auto pt-10 xl:-mt-20 flex z-20 flex-wrap justify-around xl:justify-between gap-y-4  gap-x-4 ">
            <a href="#">
                <div class="w-full xs:w-90 h-48 bg-[#E43B5D] flex">
                    <img src="/assets/media/images/komanda.png"  alt="" class="w-2/5 object-cover">
                    <div class="w-3/5 flex flex-col justify-end text-white pl-4 pb-3">
                        <p class="text-sm">24.02.2021</p>
                        <p class="text-lg">
                            Həndbolçularımız 
                            açıq havada 
                            məşqləri davam etdirirlər
                        </p>
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="w-full xs:w-90 h-48 bg-[#E43B5D] flex">
                    <img src="/assets/media/images/komanda.png"  alt="" class="w-2/5 object-cover">
                    <div class="w-3/5 flex flex-col justify-end text-white pl-4 pb-3">
                        <p class="text-sm">24.02.2021</p>
                        <p class="text-lg">
                            Həndbolçularımız 
                            açıq havada 
                            məşqləri davam etdirirlər
                        </p>
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="w-full xs:w-90 h-48 bg-[#E43B5D] flex">
                    <img src="/assets/media/images/komanda.png"  alt="" class="w-2/5 object-cover">
                    <div class="w-3/5 flex flex-col justify-end text-white pl-4 pb-3">
                        <p class="text-sm">24.02.2021</p>
                        <p class="text-lg">
                            Həndbolçularımız 
                            açıq havada 
                            məşqləri davam etdirirlər
                        </p>
                    </div>
                </div>
            </a>
        </div>

        <div class="relative pt-20 z-10 self-start xl:w-320 mx-auto pb-20">
            <div class="flex md:hidden absolute top-96 mt-4  mx-auto  w-full  bg-[#2A2F5B] h-64"></div>

            <h2 class="text-white text-center text-4xl  xl:text-left">NÖVBƏTİ OYUN</h2>
            <div class="relative w-full flex justify-around mt-14 z-10 gap-y-10 gap-x-14 flex-wrap">
                <a href="#">
                    <div class="flex flex-col text-white gap-y-4">
                        <div class="flex gap-x-8 text-lg ">
                            <div class="flex flex-col gap-y-4">
                                <img src="/assets/media/images/Baku-768x556.png" width="107" height="105" alt="">
                                <p class="text-center">Bakı</p>
                            </div>

                            <div class="flex flex-col gap-y-4">
                                <img src="/assets/media/images/Azeryol.png" width="107" height="105" alt="">
                                <p class="text-center">Azəryol</p>
                            </div>
                        </div>
                        <div>
                            <p class="text-sm text-center">Çempionat adı</p>
                            <p class="text-sm text-center">16.03.2020</p>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="flex flex-col text-white gap-y-4">
                        <div class="flex gap-x-8 text-lg ">
                            <div class="flex flex-col gap-y-4">
                                <img src="/assets/media/images/Baku-768x556.png" width="107" height="105" alt="">
                                <p class="text-center">Bakı</p>
                            </div>

                            <div class="flex flex-col gap-y-4">
                                <img src="/assets/media/images/Azeryol.png" width="107" height="105" alt="">
                                <p class="text-center">Azəryol</p>
                            </div>
                        </div>
                        <div>
                            <p class="text-sm text-center">Çempionat adı</p>
                            <p class="text-sm text-center">16.03.2020</p>
                        </div>
                    </div>
                </a>

                <a href="#">
                    <div class="flex flex-col text-white gap-y-4">
                        <div class="flex gap-x-8 text-lg ">
                            <div class="flex flex-col gap-y-4">
                                <img src="/assets/media/images/Baku-768x556.png" width="107" height="105" alt="">
                                <p class="text-center">Bakı</p>
                            </div>

                            <div class="flex flex-col gap-y-4">
                                <img src="/assets/media/images/Azeryol.png" width="107" height="105" alt="">
                                <p class="text-center">Azəryol</p>
                            </div>
                        </div>
                        <div>
                            <p class="text-sm text-center">Çempionat adı</p>
                            <p class="text-sm text-center">16.03.2020</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <!-- Xeberler -->
    <div class="pt-2 relative flex flex-col  bg-[white] pb-16 w-full" >
        <h2 class="pl-28 text-4xl inset-x-0 p-7 text-[#1A1F49]">Xəbərlər</h2>
        <div  class="flex flex-wrap xl:flex-nowrap xl:justify-start w-full">
            <div class="relative w-full xl:w-140 xl1.2:w-168 xl1.5:w-192 z-0 2xl:w-224">
                <img src="/assets/media/images/handbol-image.png" class="w-full h-full object-cover object-center" alt="">
                <a href=""><p class="box-border w-full xl:w-3/4 2xl:w-full  p-10 text-2xl absolute bottom-0 z-10 text-white">“Azəryol” komandasının Avropa kuboku yarışlarındakı rəqibi müəyyənləşib</p></a>
            </div>
            
            <div class="relative top-0  xl1.2:absolute  p-4 xl:w-168 xl1.2:top-10 xl1.2:left-144 2xl:left-256 xl1.5:left-168">
                <div class="flex justify-around  xl:justify-start flex-wrap gap-4 self-start pt-0 xl1.2:pt-20">
                    <a href="#" >
                        <div class="w-80  h-48 bg-[#1A1F49] flex">
                            <img src="/assets/media/images/komanda.png"  alt="" class="w-40 object-cover"/>
                            <div class="w-40 flex flex-col justify-end text-white pl-4 pb-3 text-sm gap-2">
                                <p class="text-gray-500 font-bold">24.02.2021</p>
                                <p>
                                    Həndbolçularımız 
                                    açıq havada 
                                    məşqləri davam etdirirlər
                                </p>
                            </div>
                        </div>
                    </a>
    
                    <a href="#" >
                        <div class="w-80  h-48 bg-[#1A1F49] flex">
                            <img src="/assets/media/images/komanda.png"  alt="" class="w-40 object-cover"/>
                            <div class="w-40 flex flex-col justify-end text-white pl-4 pb-3 text-sm gap-2">
                                <p class="text-gray-500 font-bold">24.02.2021</p>
                                <p>
                                    Həndbolçularımız 
                                    açıq havada 
                                    məşqləri davam etdirirlər
                                </p>
                            </div>
                        </div>
                    </a>
    
                    <a href="#" >
                        <div class="w-80  h-48 bg-[#1A1F49] flex">
                            <img src="/assets/media/images/komanda.png"  alt="" class="w-40 object-cover"/>
                            <div class="w-40 flex flex-col justify-end text-white pl-4 pb-3 text-sm gap-2">
                                <p class="text-gray-500 font-bold">24.02.2021</p>
                                <p>
                                    Həndbolçularımız 
                                    açıq havada 
                                    məşqləri davam etdirirlər
                                </p>
                            </div>
                        </div>
                    </a>
    
                    <a href="#" >
                        <div class="w-80  h-48 bg-[#1A1F49] flex">
                            <img src="/assets/media/images/komanda.png"  alt="" class="w-40 object-cover"/>
                            <div class="w-40 flex flex-col justify-end text-white pl-4 pb-3 text-sm gap-2">
                                <p class="text-gray-500 font-bold">24.02.2021</p>
                                <p>
                                    Həndbolçularımız 
                                    açıq havada 
                                    məşqləri davam etdirirlər
                                </p>
                            </div>
                        </div>
                    </a>
                    
                </div>
            </div>
        </div>

        <div class="w-full 2xl:w-340  mx-auto  text-black  cursor-pointer mt-9">
            <div class="my-slider select-none ">
                <div class="flex justify-center items-center">
                    <div class="flex flex-col gap-y-3 w-48 box-border pl-4 ">
                        <h4 class="text-[#A5A5A5]"> 24.02.2021</h4>
                        <p>Həndbolçularımız açıq havada məşqləri davam etdirirlər</p>
                    </div>
                </div>
                <div class="flex justify-center items-center">
                    <div class="flex flex-col gap-y-3 w-48 box-border pl-4 border-l-2 border-solid border-[#A5A5A5]">
                        <h4 class="text-[#A5A5A5]"> 24.02.2021</h4>
                        <p>Həndbolçularımız açıq havada məşqləri davam etdirirlər</p>
                    </div>
                </div>
                <div class="flex justify-center items-center">
                    <div class="flex flex-col gap-y-3 w-48 box-border pl-4 border-l-2 border-solid border-[#A5A5A5]">
                        <h4 class="text-[#A5A5A5]"> 24.02.2021</h4>
                        <p>Həndbolçularımız açıq havada məşqləri davam etdirirlər</p>
                    </div>
                </div>
                <div class="flex justify-center items-center">
                    <div class="flex flex-col gap-y-3 w-48 box-border pl-4 border-l-2 border-solid border-[#A5A5A5]">
                        <h4 class="text-[#A5A5A5]"> 24.02.2021</h4>
                        <p>Həndbolçularımız açıq havada məşqləri davam etdirirlər</p>
                    </div>
                </div>
                <div class="flex justify-center items-center">
                    <div class="flex flex-col gap-y-3 w-48 box-border pl-4 border-l-2 border-solid border-[#A5A5A5]">
                        <h4 class="text-[#A5A5A5]"> 24.02.2021</h4>
                        <p>Həndbolçularımız açıq havada məşqləri davam etdirirlər</p>
                    </div>
                </div>
                <div class="flex justify-center items-center">
                    <div class="flex flex-col gap-y-3 w-48 box-border pl-4 border-l-2 border-solid border-[#A5A5A5]">
                        <h4 class="text-[#A5A5A5]"> 24.02.2021</h4>
                        <p>Həndbolçularımız açıq havada məşqləri davam etdirirlər</p>
                    </div>
                </div>
                <div class="flex justify-center items-center">
                    <div class="flex flex-col gap-y-3 w-48 box-border pl-4 border-l-2 border-solid border-[#A5A5A5]">
                        <h4 class="text-[#A5A5A5]"> 24.02.2021</h4>
                        <p>Həndbolçularımız açıq havada məşqləri davam etdirirlər</p>
                    </div>
                </div>
                <div class="flex justify-center items-center">
                    <div class="flex flex-col gap-y-3 w-48 box-border pl-4 border-l-2 border-solid border-[#A5A5A5]">
                        <h4 class="text-[#A5A5A5]"> 24.02.2021</h4>
                        <p>Həndbolçularımız açıq havada məşqləri davam etdirirlər</p>
                    </div>
                </div>
               
            </div>

            <div class="mx-auto w-max">
                <a href="#">
                    <div class="border-2 border-solid  mt-8 mx-auto xl:mx-0 pl-10 pr-10 pt-3 pb-3 bg-transparent text-black w-max">
                        Hamsına bax
                    </div>
                </a>
            </div>
        </div>
        
    </div>
    
    
    <!-- TEQVIM -->
    <div class="w-full bg-[#1A1F49] py-20">
        <div class="flex flex-col mx-auto xl:w-320 xl:px-0 px-4">
            <h2 class="text-4xl ">Təqvim Mart 2022</h2>
            <div class="flex flex-wrap mt-8 justify-center gap-4 items-start">
                <div name="calendar" class="w-full lg:w-135 bg-[#2A2F5B] flex-col">
                    <div name="calendar-head" class="flex text-sm md:text-base bg-white  py-4  text-[#1A1F49] px-8  xs:gap-x-10 justify-between ">
                        <div name="day" class="w-7 h-7 grid place-content-center">
                            B.e.
                        </div>

                        <div name="day" class="w-7 h-7 grid place-content-center">
                            Ç.a.
                        </div>

                        <div name="day" class="w-7 h-7 grid place-content-center">
                            Ç.
                        </div>

                        <div name="day" class="w-7 h-7 grid place-content-center">
                            C.a.
                        </div>

                        <div name="day" class="w-7 h-7 grid place-content-center">
                            C.
                        </div>


                        <div name="day" class="w-7 h-7 grid place-content-center">
                            Ş.  
                        </div>

                        <div name="day" class="w-7 h-7 grid place-content-center">
                            B.  
                        </div>

                    </div>
                    <div name="calendar-body" class="flex text-sm md:text-base  gap-y-4 flex-wrap   py-4 px-8  justify-center xs:justify-start">
                        <div class="flex justify-between w-full">
                            <div class="w-7 h-7 grid place-content-center">1</div>
                            <div class="w-7 h-7 grid place-content-center">2</div>
                            <div class="w-7 h-7 grid place-content-center">3</div>
                            <div class="w-7 h-7 grid place-content-center">4</div>
                            <div class="w-7 h-7 grid place-content-center">5</div>
                            <div class="w-7 h-7 grid place-content-center">6</div>
                            <div class="w-7 h-7 grid place-content-center">7</div>
                        </div>
                        
                        <div class="flex justify-between w-full">
                            <div class="w-7 h-7 grid place-content-center">8</div>
                            <div class="w-7 h-7 grid place-content-center">9</div>
                            <div class="w-7 h-7 grid place-content-center">10</div>
                            <div class="w-7 h-7 grid place-content-center">11</div>
                            <div class="w-7 h-7 grid place-content-center">12</div>
                            <div class="w-7 h-7 grid place-content-center">13</div>
                            <div class="w-7 h-7 grid place-content-center">14</div>
                        </div>
                        
                        <div class="flex justify-between w-full">
                            <div class="w-7 h-7 grid place-content-center">15</div>
                            <div class="w-7 h-7 grid place-content-center">16</div>
                            <div class="w-7 h-7 grid place-content-center">17</div>
                            <div class="w-7 h-7 grid place-content-center">18</div>
                            <div class="w-7 h-7 grid place-content-center">19</div>
                            <div class="w-7 h-7 grid place-content-center">20</div>
                            <div class="w-7 h-7 grid place-content-center">21</div>
                        </div>
                        
                       
                        <div class="flex justify-between w-full">
                            <div class="w-7 h-7 grid place-content-center">22</div>
                            <div class="w-7 h-7 grid place-content-center">23</div>
                            <div class="w-7 h-7 grid place-content-center">24</div>
                            <div class="w-7 h-7 grid place-content-center">25</div>
                            <div class="w-7 h-7 grid place-content-center">26</div>
                            <div class="w-7 h-7 grid place-content-center">27</div>
                            <div class="w-7 h-7 grid place-content-center">28</div>
                        </div>

                        <div class="flex justify-between w-full">
                            <div class="w-7 h-7 grid place-content-center">29</div>
                            <div class="w-7 h-7 grid place-content-center">30</div>
                            <div class="w-7 h-7 grid place-content-center">31</div>
                            <div class="w-7 h-7 grid place-content-center"></div>
                            <div class="w-7 h-7 grid place-content-center"></div>
                            <div class="w-7 h-7 grid place-content-center"></div>
                            <div class="w-7 h-7 grid place-content-center"></div>
                        </div>
                    </div>
                    <a href="">
                        <div class="pl-8 pb-4 flex gap-x-4">
                            <img src="/assets/media/icons/array-left.svg" />
                            Fevral
                        </div>
                    </a>
                </div>
                
                <div name="games" class="w-full lg:w-120 flex flex-col gap-4">
                    <div name="game"  class="w-full flex justify-between bg-[#2A2F5B] p-4"> 
                        <div name="teams" class="flex flex-col gap-2 font-bold text-[#ADAEBF]">
                            <div class="flex gap-2 items-center">
                                <img class="w-8 h-8 object-cover" src="/assets/media/images/little-team.png" alt="">
                                <span >Bakı</span>
                            </div>
                            <div class="flex gap-2 items-center">
                                <img class="w-8 h-8 object-cover" src="/assets/media/images/little-team-2.png" alt="">
                                <span>Azəryol</span>
                            </div>
                        </div>

                        <div name="detail" class="flex flex-col gap-4 text-sm">
                            <p>16.03.2020</p>
                            <p>ABU arena</p>
                            <p>AZƏRBAYCAN ÇEMPİONATI</p>
                        </div>
                    </div>
                    <div name="game"  class="w-full flex justify-between bg-[#2A2F5B] p-4"> 
                        <div name="teams" class="flex flex-col gap-2 font-bold text-[#ADAEBF]">
                            <div class="flex gap-2 items-center">
                                <img class="w-8 h-8 object-cover" src="/assets/media/images/little-team.png" alt="">
                                <span >Bakı</span>
                            </div>
                            <div class="flex gap-2 items-center">
                                <img class="w-8 h-8 object-cover" src="/assets/media/images/little-team-2.png" alt="">
                                <span>Azəryol</span>
                            </div>
                        </div>

                        <div name="detail" class="flex flex-col gap-4 text-sm">
                            <p>16.03.2020</p>
                            <p>ABU arena</p>
                            <p>AZƏRBAYCAN ÇEMPİONATI</p>
                        </div>
                    </div>
                    <div name="game"  class="w-full flex justify-between bg-[#2A2F5B] p-4"> 
                        <div name="teams" class="flex flex-col gap-2 font-bold text-[#ADAEBF]">
                            <div class="flex gap-2 items-center">
                                <img class="w-8 h-8 object-cover" src="/assets/media/images/little-team.png" alt="">
                                <span >Bakı</span>
                            </div>
                            <div class="flex gap-2 items-center">
                                <img class="w-8 h-8 object-cover" src="/assets/media/images/little-team-2.png" alt="">
                                <span>Azəryol</span>
                            </div>
                        </div>

                        <div name="detail" class="flex flex-col gap-4 text-sm">
                            <p>16.03.2020</p>
                            <p>ABU arena</p>
                            <p>AZƏRBAYCAN ÇEMPİONATI</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  
    

    <!-- XAL CEDVELI -->
    <div class="w-full relative bg-white py-20">
        <div class="absolute -top-10 right-0">
            <img src="/assets/media/images/ball.png" alt="">
        </div>
        <div class="absolute -bottom-10 left-0">
            <img src="/assets/media/images/ball-2.png" alt="">
        </div>

        <div class="relative flex flex-col mx-auto px-4 xl:px-0  xl:w-320 z-20">
            <h2 class="text-4xl text-[#1A1F49]">Xal cədvəli</h2>
            <div class="flex flex-wrap mt-8 justify-center gap-8 items-start">
                <div class="flex flex-col gap-4">
                    <h3 class="text-[#1A1F49] text-2xl">Kişilər</h3>
                    <table name="" class="club-kishi-table xl:w-138 bg-[#1A1F49] shadow-2xl shadow-gray">
                        <thead class=" bg-[#2A2F5B] p-4">
                            <tr>
                                <td>Klub</td>
                                <td>O</td>
                                <td>Q</td>
                                <td>H</td>
                                <td>M</td>
                                <td>T-F</td>
                                <td>Xal</td>
                            </tr>
                        </thead>
                        <tbody class="xl:text-base text-sm">
                            <tr>
                                <td>Azeryol</td>
                                <td>9</td>
                                <td>8</td>
                                <td>0</td>
                                <td>1</td>
                                <td>281-208</td>
                                <td>16</td>
                            </tr>
                            <tr>
                                <td>Galatasaray</td>
                                <td>9</td>
                                <td>8</td>
                                <td>0</td>
                                <td>1</td>
                                <td>281-208</td>
                                <td>16</td>
                            </tr>
                            <tr>
                                <td>Fenerbahçe</td>
                                <td>9</td>
                                <td>8</td>
                                <td>0</td>
                                <td>1</td>
                                <td>281-208</td>
                                <td>16</td>
                            </tr>
                            <tr>
                                <td>Beşiktaş</td>
                                <td>9</td>
                                <td>8</td>
                                <td>0</td>
                                <td>1</td>
                                <td>281-208</td>
                                <td>16</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="flex flex-col gap-4">
                    <h3 class="text-[#1A1F49] text-2xl">Qadınlar</h3>
                    <table name="" class="club-kishi-table  xl:w-138 bg-[#1A1F49] shadow-2xl shadow-gray ">
                        <thead class=" bg-[#2A2F5B] p-4">
                            <tr>
                                <td>Klub</td>
                                <td>O</td>
                                <td>Q</td>
                                <td>H</td>
                                <td>M</td>
                                <td>T-F</td>
                                <td>Xal</td>
                            </tr>
                        </thead>
                        <tbody class="xl:text-base text-sm">
                            <tr>
                                <td>Azeryol</td>
                                <td>9</td>
                                <td>8</td>
                                <td>0</td>
                                <td>1</td>
                                <td>281-208</td>
                                <td>16</td>
                            </tr>
                            <tr>
                                <td>Galatasaray</td>
                                <td>9</td>
                                <td>8</td>
                                <td>0</td>
                                <td>1</td>
                                <td>281-208</td>
                                <td>16</td>
                            </tr>
                            <tr>
                                <td>Fenerbahçe</td>
                                <td>9</td>
                                <td>8</td>
                                <td>0</td>
                                <td>1</td>
                                <td>281-208</td>
                                <td>16</td>
                            </tr>
                            <tr>
                                <td>Beşiktaş</td>
                                <td>9</td>
                                <td>8</td>
                                <td>0</td>
                                <td>1</td>
                                <td>281-208</td>
                                <td>16</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
                
            </div>
            <div class="mx-auto">
                <a href="#">
                    <div class="border-2 border-solid  mt-8 mx-auto xl:mx-0 pl-10 pr-10 pt-3 pb-3 bg-transparent text-black w-max">
                        Hamsına bax
                    </div>
                </a>
            </div>
        </div>
    </div>  



    <!-- SPONSORS -->
    <hr class="bg-[#1A1F49] w-full h-20">

    <div class="mx-auto px-4 xl:px-0 flex flex-wrap justify-around py-8 max-w-screen-xl gap-4">
        <div class="w-40 h-40 flex justify-center items-center" >
            <img src="/assets/media/logos/international-handboll-federation.png"  alt="">
        </div>
        <div class="w-40 h-40 flex justify-center items-center" >
            <img src="/assets/media/logos/logo-2.png"  alt="">
        </div>
        <div class="w-40 h-40 flex justify-center items-center" >
            <img src="/assets/media/logos/european-handboll-federation.png"  alt="">
        </div>
        <div class="w-40 h-40 flex justify-center items-center ">
            <img src="/assets/media/logos/gencler-nazirliyi.png"   alt="">
        </div>
    </div>


    <footer class="bg-[#2E3A59] px-8">
        <div class="max-w-screen-xl mx-auto flex flex-wrap py-5 gap-4">
            <div class="flex flex-col w-48 gap-5">
                <img src="/assets/media/logos/handboll-logo.png" width="92" height="118" alt="">
                <p class="text-sm">
                    AHF Copyright 2022. <br>
                    All Right Reserved AHF
                </p>
            </div>

            

            <div class="flex flex-wrap gap-x-28 pt-4 font-bold">
                <div class="flex flex-col gap-4">
                    <a href="#"><p>AHF haqqında</p></a>
                    <a href="#"><p>Klublar</p></a>
                    <a href="#"><p>Handball qaydaları</p></a>
                    <a href="#"><p>Oyun təqvimi</p></a>
                </div>

                <div class="flex flex-col gap-4">
                    <a href="#"><p>Xəbərlər</p></a>
                    <a href="#"><p>Qalereya</p></a>
                    <a href="#"><p>Arxiv</p></a>
                    <a href="#"><p>Əlaqə</p></a>
                </div>

                <div class="flex flex-col gap-6">
                    <a href="#"><p>Gizlilik Siyasəti</p></a>
                    <div class="flex gap-x-4">
                        <a href="#">
                            <div class="w-10 h-10 grid place-content-center border-solid rounded-full border-pink-700 border-2">
                                <img src="/assets/media/icons/footer-instagram.png" alt="">
                            </div>
                        </a>
                        <a href="#">
                            <div class="w-10 h-10 grid place-content-center border-solid rounded-full border-pink-700 border-2">
                                <img src="/assets/media/icons/footer-facebook.png" alt="">
                            </div>
                        </a>
                        <a href="#">
                            <div class="w-10 h-10 grid place-content-center border-solid rounded-full border-pink-700 border-2">
                                <img src="/assets/media/icons/footer-youtube.png" alt="">
                            </div>
                        </a>
                    </div>
                </div>

            </div>
            

        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js"></script>

    <script>
        tns(
            {
                container: '.my-slider',
                slideBy: 'page',
                autoplay: true,
                mouseDrag: true,
                autoplayButtonOutput: false,
                controls: false,
                nav: false,
                controlsPosition: 'bottom',
                navPosition: 'bottom',
                autoplayButton: false,
                responsive: {
                    100:{
                        items:1
                    },
                    450:{
                        items:2
                    },
                    600:{
                        items:3
                    },
                    750:{
                        items:4
                    },
                    1000:{
                        items:5
                    },
                    1180:{
                        items:6
                    }
                },
            }
        )
    </script>
</body>
</html>