<!DOCTYPE html>
<html lang="en">
<head>
    <base href="http://127.0.0.1:5500">
    <title>Document</title>
    <link href="/assets/styles/global.css" rel="stylesheet"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css">
<body>
    
    <header class="relative w-full h-20 border-b border-white flex  items-center justify-center bg-[#2E3A59] xl:px-0 px-4">
        <div class="w-full xl:w-320 flex justify-between items-center h-full p-5 xl:p-0">
            <button class="xl:hidden">
                <img src="/assets/media/icons/menu.png" alt="">
            </button>
            
            <a href="#">
                <img src="/assets/media/logos/logo.png" class="w-14 xl:w-auto"  alt="">
            </a>
            
            <div class="hidden xl:flex gap-x-8 ml-10">
                <div>
                    <div>
                        <div class="flex items-center justify-center gap-x-1">
                            <span class="text-sm text-white">AHF haqqında</span> 
                            <img src="/assets/media/icons/arrowdown.png" width="14px" alt="">
                        </div>
                    </div>

                </div>
                <div>
                    <div>
                        <div class="flex items-center justify-center gap-x-1">
                            <span class="text-sm text-white">Klublar</span> 
                            <img src="/assets/media/icons/arrowdown.png" width="14px" alt="">
                        </div>
                    </div>
                </div>
                <div>
                    <div>
                        <div class="flex items-center justify-center gap-x-1">
                            <span class="text-sm text-white">Handboll qaydaları</span> 
                            <img src="/assets/media/icons/arrowdown.png" width="14px" alt="">
                        </div>
                    </div>
                </div>
                
                <a href="#" class="text-white text-sm">
                    Oyun təqvimi
                </a>

                <a href="#" class="text-white text-sm">
                    Xəbərlər
                </a>

                <div>
                    <div>
                        <div class="flex items-center justify-center gap-x-1">
                            <span class="text-white text-sm">Qalereya</span> 
                            <img src="/assets/media/icons/arrowdown.png" width="14px" alt="">
                        </div>
                    </div>
                </div>
                <div>
                    <div>
                        <div class="flex items-center justify-center gap-x-1">
                            <span class="text-white text-sm">Arxiv</span> 
                            <img src="/assets/media/icons/arrowdown.png" width="14px" alt="">
                        </div>
                    </div>
                </div>

                <a href="#" class="text-white text-sm">
                    Əlaqə
                </a>
            </div>

            <button >
                <img src="/assets/media/icons/search.png" alt="">
            </button>
        </div>
    </header>

    <div class=" px-4 xl:px-0 w-full xl:w-320 mx-auto flex flex-col gap-y-6 mt-14 mb-14">
        <h1 class="text-4xl font-bold text-[#343434] text-center md:text-left">Həndbolçularımız açıq havada məşqləri davam etdirirlər</h1>
        <div class="flex gap-4 mt-2 text-[#343434]">
            <div>24.02.2021</div>
            <div class="flex gap-1">
                <img class="w-6 h-6" src="/assets/media/icons/eye.png" alt="">
                <span>24</span>
            </div>
        </div>
        <div class="w-full flex justify-center gap-x-6 gap-y-6 flex-wrap">

            <!-- SLIDER -->
            <div class="block w-full lg:hidden  mx-auto    cursor-pointer mt-4">
                <div class="my-slider select-none bg-[#E6525C] py-4">
                    <div>
                        <div class="flex justify-center items-center w-full">
                            <div class="flex flex-col gap-y-3 w-48 box-border pl-4 border-l border-white border-solid">
                                <h4 class=""> 24.02.2021</h4>
                                <p>Həndbolçularımız açıq havada məşqləri davam etdirirlər</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="flex justify-center items-center w-full">
                            <div class="flex flex-col gap-y-3 w-48 box-border pl-4 border-l border-white border-solid">
                                <h4 class=""> 24.02.2021</h4>
                                <p>Həndbolçularımız açıq havada məşqləri davam etdirirlər</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="flex justify-center items-center w-full">
                            <div class="flex flex-col gap-y-3 w-48 box-border pl-4 border-l border-white border-solid">
                                <h4 class=""> 24.02.2021</h4>
                                <p>Həndbolçularımız açıq havada məşqləri davam etdirirlər</p>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="flex justify-center items-center w-full">
                            <div class="flex flex-col gap-y-3 w-48 box-border pl-4 border-l border-white border-solid">
                                <h4 class=""> 24.02.2021</h4>
                                <p>Həndbolçularımız açıq havada məşqləri davam etdirirlər</p>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="flex justify-center items-center w-full">
                            <div class="flex flex-col gap-y-3 w-48 box-border pl-4 border-l border-white border-solid">
                                <h4 class=""> 24.02.2021</h4>
                                <p>Həndbolçularımız açıq havada məşqləri davam etdirirlər</p>
                            </div>
                        </div>
                    </div>
                   
                </div>
    
                
                <div class="mx-auto w-max">
                    <a href="#">
                        <div class="mt-6 mx-auto xl:mx-0 pl-10 pr-10 pt-3 pb-3 bg-[#E6525C] w-max">
                            Hamsına bax
                        </div>
                    </a>
                </div>
            </div>


            <div class="flex gap-6 items-start">
                <div class="text-[#343434] basis-full">
                    <img class="w-full h-128 object-cover" src="assets/media/images/singlenews.png" alt="">
                    <p class="mt-6">
                        Günün ilk oyununda kişilərdən ibarət U-18 İdman Akademiyası və “Bakı” komandaları üz-üzə gəliblər. Gərgin və maraqlı mübarizə ilə yadda qalan görüş “Bakı”nın qələbəsi ilə nəticələnib – 27:22.
                        <br>
                        <br>
                        Kişilərin mübarizəsində “Gənclər Birliyi” – “Məhsul” görüşü də maraqlı idman mübarizəsi şəraitində keçib. İlk hissəni 13-12 hesablı üstünlüklə bitirən “Məhsul” üstünlüyü sonadək qoruya bilməyib. Fasilədən sonra vəziyyəti dəyişməyi bacaran “Gənclər Birliyi” 28-24 hesabı ilə qalib gəlib.
                        <br>
                        <br>
                        U-16 – “Təhsil” qarşılaşmasında nominal qonaqların imkanlarını yüksək qiymətləndirənlər yanılmayıblar. Rəqibin ciddi müqavimətinə baxmayaraq oyun “Təhsil”in qələbəsi ilə yekunlaşıb – 35:33.
                        <br>
                        <br>
                        Kişilərdən ibarət komandaların çempionatında 8 xalla “Bakı” liderlik edir. U-18 İdman Akademiyası və “Təhsil”in hərəyə 5 xalı var. U-16 3 xalla 4-cüdür. “Gənclər Birliyi”nin 2, “Məhsul”un 1 xalı var.
                        <br>
                        <br>
                        Qadın həndbolçuların yarışında iki qarşılaşma olub. “Azərsu” –  “Qarabağ” matçının ilk hissəsindən təşəbbüsə yiyələnən “Qarabağ” fasiləyədək əldə etdiyi üstünlüyü ikinci hissədə daha da möhkəmləndirərək inamlı qələbə çalıb – 36:10
                        <br>
                        <br>
                        “İdman Akademiyası” – “Azəryol” görüşündə də nominal qonaqlar etimadı doğruldublar. “Azəryol”un tam üstünlüyü şəraitində keçən oyun 18-43 hesabı ilə başa çatıb.
                        <br>
                        <br>
                        Qadınların mübarizəsində 3 oyundan 6 xalla “Azəryol” liderdir. “Qarabağ” 4 xalla ikincidir. “İdman Akademiyası” ilə “Azərsu”nun hərəyə 1 xalı var.
                        <br>
                        <br>
                        Çempionatın aprelin 9-da keçiriləcək növbəti turunda “Məhsul” – “Bakı”, “Qarabağ” – “İdman Akademiyası”, U-18 İdman Akademiyası – “Təhsil”, “Azərsu” – “Azəryol” və “Gənclər Birliyi”  – U-16 oyunları olacaq.
                        
                    </p>
                </div>
                <div class="hidden md:flex flex-col p-4 gap-4 basis-60  box-border bg-[#E6525C] " >
                    <h3 class="text-2xl font-bold ">Son Xəbərlər</h3>
                    <div class="flex flex-col gap-2 w-full pb-2 border-b border-solid border-white last:border-none">
                        <p class="text-sm text-[#DBDBDB]">24.02.2021</p>
                        <p class="font-bold">Həndbolçularımız açıq havada məşqləri davam etdirirlər</p>
                    </div>
                    <div class="flex flex-col gap-2 w-full pb-2 border-b border-solid border-white last:border-none">
                        <p class="text-sm text-[#DBDBDB]">24.02.2021</p>
                        <p class="font-bold">Həndbolçularımız açıq havada məşqləri davam etdirirlər</p>
                    </div>

                    <div class="flex flex-col gap-2 w-full pb-2 border-b border-solid border-white last:border-none">
                        <p class="text-sm text-[#DBDBDB]">24.02.2021</p>
                        <p class="font-bold">Həndbolçularımız açıq havada məşqləri davam etdirirlər</p>
                    </div>
                    <div class="flex flex-col gap-2 w-full pb-2 border-b border-solid border-white last:border-none">
                        <p class="text-sm text-[#DBDBDB]">24.02.2021</p>
                        <p class="font-bold">Həndbolçularımız açıq havada məşqləri davam etdirirlər</p>
                    </div>
                    <div class="flex flex-col gap-2 w-full pb-2 border-b border-solid border-white last:border-none">
                        <p class="text-sm text-[#DBDBDB]">24.02.2021</p>
                        <p class="font-bold">Həndbolçularımız açıq havada məşqləri davam etdirirlər</p>
                    </div>
                    <div class="flex flex-col gap-2 w-full pb-2 border-b border-solid border-white last:border-none">
                        <p class="text-sm text-[#DBDBDB]">24.02.2021</p>
                        <p class="font-bold">Həndbolçularımız açıq havada məşqləri davam etdirirlər</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="px-4 xl:px-0 w-full xl:w-320 mx-auto flex flex-col gap-y-6 mt-14 mb-14">
        <!-- SLIDER -->
        <div class="w-full  mx-auto cursor-pointer mt-4">
            <div class="my-slider2 ">
                <div>
                    <a href="#">
                        <div class="flex justify-center items-center w-full">
                            <img width="500" height="500" class="w-96 h-60 object-cover" src="/assets/media/images/singlenew2.png" alt="">
                        </div>
                    </a>
                </div>
                
                <div>
                    <a href="#">
                        <div class="flex justify-center items-center w-full">
                            <img width="500" height="500" class="w-96 h-60 object-cover" src="/assets/media/images/singlenew2.png" alt="">
                        </div>
                    </a>
                </div>
                

                <div>
                    <a href="#">
                        <div class="flex justify-center items-center w-full">
                            <img width="500" height="500" class="w-96 h-60 object-cover" src="/assets/media/images/singlenew2.png" alt="">
                        </div>
                    </a>
                </div>
                

                <div>
                    <a href="#">
                        <div class="flex justify-center items-center w-full">
                            <img width="500" height="500" class="w-96 h-60 object-cover" src="/assets/media/images/singlenew2.png" alt="">
                        </div>
                    </a>
                </div>
                

                <div>
                    <a href="#">
                        <div class="flex justify-center items-center w-full">
                            <img width="500" height="500" class="w-96 h-60 object-cover" src="/assets/media/images/singlenew2.png" alt="">
                        </div>
                    </a>
                </div>
                

                <div>
                    <a href="#">
                        <div class="flex justify-center items-center w-full">
                            <img width="500" height="500" class="w-96 h-60 object-cover" src="/assets/media/images/singlenew2.png" alt="">
                        </div>
                    </a>
                </div>
                
            </div>

            
            <!-- <div class="mx-auto w-max">
                <a href="#">
                    <div class="mt-6 mx-auto xl:mx-0 pl-10 pr-10 pt-3 pb-3 bg-[#E6525C] w-max">
                        Hamsına bax
                    </div>
                </a>
            </div> -->
        </div>
    </div>

    <footer class="bg-[#2E3A59] px-8 " >
        <div class="max-w-screen-xl mx-auto flex flex-wrap py-5 gap-4">
            <div class="flex flex-col w-48 gap-5">
                <img src="/assets/media/logos/handboll-logo.png" width="92" height="118" alt="">
                <p class="text-sm">
                    AHF Copyright 2022. <br>
                    All Right Reserved AHF
                </p>
            </div>
    
            
    
            <div class="flex flex-wrap gap-x-28 pt-4 font-bold">
                <div class="flex flex-col gap-4">
                    <a href="#"><p>AHF haqqında</p></a>
                    <a href="#"><p>Klublar</p></a>
                    <a href="#"><p>Handball qaydaları</p></a>
                    <a href="#"><p>Oyun təqvimi</p></a>
                </div>
    
                <div class="flex flex-col gap-4">
                    <a href="#"><p>Xəbərlər</p></a>
                    <a href="#"><p>Qalereya</p></a>
                    <a href="#"><p>Arxiv</p></a>
                    <a href="#"><p>Əlaqə</p></a>
                </div>
    
                <div class="flex flex-col gap-6">
                    <a href="#"><p>Gizlilik Siyasəti</p></a>
                    <div class="flex gap-x-4">
                        <a href="#">
                            <div class="w-10 h-10 grid place-content-center border-solid rounded-full border-pink-700 border-2">
                                <img src="/assets/media/icons/footer-instagram.png" alt="">
                            </div>
                        </a>
                        <a href="#">
                            <div class="w-10 h-10 grid place-content-center border-solid rounded-full border-pink-700 border-2">
                                <img src="/assets/media/icons/footer-facebook.png" alt="">
                            </div>
                        </a>
                        <a href="#">
                            <div class="w-10 h-10 grid place-content-center border-solid rounded-full border-pink-700 border-2">
                                <img src="/assets/media/icons/footer-youtube.png" alt="">
                            </div>
                        </a>
                    </div>
                </div>
    
            </div>
            
    
        </div>
    </footer>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js"></script>


    <script>
        tns(
            {
                    container: '.my-slider',
                    slideBy: 'page',
                    autoplay: true,
                    mouseDrag: true,
                    autoplayButtonOutput: true,
                    controls: false,
                    nav: false,
                    controlsPosition: 'bottom',
                    navPosition: 'bottom',
                    autoplayButton: false,
                    responsive: {
                        100:{
                            items:1
                        },
                        450:{
                            items:2
                        },
                        600:{
                            items:3
                        },
                        750:{
                            items:4
                        },
                        1000:{
                            items:5
                        },
                        1180:{
                            items:6
                        }
                    },
            }
        )

        tns({
                    container: '.my-slider2',
                    slideBy: 'page',
                    autoplay: true,
                    mouseDrag: true,
                    autoplayButtonOutput: false,
                    controls: false,
                    nav: true,
                    navAsThumbnails: false,
                    autoplayButton: false,
                    nav:true,
                    responsive: {
                        100:{
                            items:1
                        },
                        450:{
                            items:1
                        },
                        
                        900:{
                            items:2
                        },
                        1000:{
                            items:3
                        },
                        1180:{
                            items:3
                        }
                    },
                })
       
    </script>


</body>
</html>