<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>com.spotify.client</string>
	<string>com.apple.Safari</string>
	<string>com.google.Chrome</string>
	<string>com.apple.QuickTimePlayerX</string>
	<string>com.apple.iTunes</string>
	<string>fm.last.Scrobbler</string>
	<string>com.industriousone.Musicality</string>
	<string>com.ilabs.PandorasBox</string>
	<string>com.catpigstudios.Radium3</string>
	<string>com.apple.Music</string>
	<string>com.apple.podcasts</string>
</array>
</plist>
